@page "/movies/edit"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Soft.Movies.Data
@using Abc.Shared.Components
@using Abc.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Movie</h2>
<hr />
@if (Movie is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Movie" OnValidSubmit="UpdateMovie" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Movie.Id" value="@Movie.Id" />
                <MyPropertyEditor TValue="string" Id="title" Label="Title:" Value="Movie!.Title" ValueChanged="(string value) => Movie!.Title = value" ValueExpression="() => Movie!.Title" />
                <MyPropertyEditor TValue="DateOnly" Id="releasedate" Label="ReleaseDate:" Value="Movie!.ReleaseDate" ValueChanged="(DateOnly value) => Movie!.ReleaseDate = value" ValueExpression="() => Movie!.ReleaseDate" />
                <MyPropertyEditor TValue="string" Id="genre" Label="Genre:" Value="Movie!.Genre" ValueChanged="(string value) => Movie!.Genre = value" ValueExpression="() => Movie!.Genre" />
                <MyPropertyEditor TValue="decimal" Id="price" Label="Price:" Value="Movie!.Price" ValueChanged="(decimal value) => Movie!.Price = value" ValueExpression="() => Movie!.Price" />
                <MyPropertyEditor TValue="string" Id="rating" Label="Rating:" Value="Movie!.Rating" ValueChanged="(string value) => Movie!.Rating = value" ValueExpression="() => Movie!.Rating" />
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Movie? Movie { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Movie ??= await context.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (Movie is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMovie()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Movie!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MovieExists(Movie!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/movies");
    }

    private bool MovieExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Movie.Any(e => e.Id == id);
    }
}
