@page "/currencies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data
@using Abc.Soft.Movies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Abc.Soft.Movies.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="currencies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Currencies">
    <PropertyColumn Property="currency => currency.Name" />
    <PropertyColumn Property="currency => currency.Code" />
    <PropertyColumn Property="currency => currency.NumericCode" />

    <TemplateColumn Context="currency">
        <a href="@($"currencies/edit?id={currency.Id}")">Edit</a> |
        <a href="@($"currencies/details?id={currency.Id}")">Details</a> |
        <a href="@($"currencies/delete?id={currency.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
