@using System.Reflection

<dl class="row">
	@if (property is not null)
	{
		<dt class="col-md-4">
			<label for="@PropertyName" class="form-label">@PropertyName</label>
		</dt>
		<dd class="col-md-8">
			<input id="@PropertyName" class="form-control" value="@value" @onchange="onChange" />
		</dd>
	}
</dl>

@code {
	[Parameter] public object Item { get; set; }
	[Parameter] public string PropertyName { get; set; } = string.Empty;

	private PropertyInfo? property => Item?.GetType().GetProperty(PropertyName);
	private string value => property?.GetValue(Item)?.ToString() ?? string.Empty;

	private void onChange(ChangeEventArgs e)
	{
		if (property is null) return;
		var input = e.Value?.ToString();
		var targetType = Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType;
		if (string.IsNullOrWhiteSpace(input))
		{
			property.SetValue(Item, null);
			return;
		}
		var converted = Convert.ChangeType(input, targetType);
		property.SetValue(Item, converted);
	}
}
