@page "/countries/details"
@using Microsoft.EntityFrameworkCore
@using Abc.Data
@inject IDbContextFactory<Abc.Soft.Movies.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Country</h2>
    <hr />
    @if (country is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@country.Name</dd>
            <dt class="col-sm-2">Code</dt>
            <dd class="col-sm-10">@country.Code</dd>
        </dl>
        <div>
            <a href="@($"/countries/edit?id={country.Id}")">Edit</a> |
            <a href="@($"/countries")">Back to List</a>
        </div>
    }
</div>

@code {
    private Country? country;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        country = await context.Countries.FirstOrDefaultAsync(m => m.Id == Id);

        if (country is null)
        {
            NavigationManager.NotFound();
        }
    }
}
